:root {
  --background: #255ca2;
  --desktop: #021e3e;
  --heart-color: #95e5d8;
  --letter-color: #ffffff;
  --rbg-1: #ffd834;
  --rbg-2: #96e5d8;
  --rbg-3: #0273e8;
  --rbg-4: #fafafa;
  --wind-function: cubic-bezier(0.19, 0.76, 0.83, 0.53);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#audio-btn {
  background-color: transparent;
  border: 1px solid var(--desktop);
  border-radius: 50%;
  line-height: 16px;
  left: 10px;
  top: 10px;
  padding: 5px;
  cursor: pointer;
  position: fixed;
}
