:root {
  --background: #021e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--background);
  color: #FAFAFA;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#logo {
  max-width: 300px;
  max-height: 300px;
}
