:root {
  --heart-color: #95E5D8;
  --letter-color: #FFFFFF;
  --background: #002851;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#we .st0 {
  fill: none;
  stroke: var(--letter-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
}

#letter-w {
  animation: outline 0.5s ease forwards, filling-letter 0.5s ease-in forwards 0.5s;
  stroke-dasharray: 445.097900390625;
  stroke-dashoffset: 445.097900390625;
}

#letter-e {
  stroke-dasharray: 313.3379821777344;
  stroke-dashoffset: 313.3379821777344;
  animation: outline 0.5s ease forwards 0.5s, filling-letter 0.5s ease-in forwards 1s;
}

#heart-fill {
  transform-box: fill-box;
  transform-origin: center;
}

#heart-fill {
  animation: outline 1s ease forwards 1s, filling-heart 1s ease forwards 2s, beat 1.2s infinite 5s;
  fill: transparent;
  stroke: var(--heart-color);
  stroke-dasharray: 285.33770751953125;
  stroke-dashoffset: 285.33770751953125;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

#letter-c {
  animation: outline 0.5s ease forwards 2s, filling-letter 0.5s ease-in forwards 2.5s;
  stroke-dasharray: 266.71673583984375;
  stroke-dashoffset: 266.71673583984375;
}

#letter-o {
  animation: outline 0.5s ease forwards 2.5s, filling-letter 0.5s ease-in forwards 3s;
  stroke-dasharray: 320.877685546875;
  stroke-dashoffset: 320.877685546875;
}

#letter-d {
  animation: outline 0.5s ease forwards 3s, filling-letter 0.5s ease-in forwards 3.5s;
  stroke-dasharray: 330.638427734375;
  stroke-dashoffset: 330.638427734375;
}

#letter-i {
  animation: outline 0.5s ease forwards 3.5s, filling-letter 0.5s ease-in forwards 4s;
  stroke-dasharray: 142.28990173339844;
  stroke-dashoffset: 142.28990173339844;
}

#letter-n {
  animation: outline 0.5s ease forwards 4s, filling-letter 0.5s ease-in forwards 4.5s;
  stroke-dasharray: 335.66949462890625;
  stroke-dashoffset: 335.66949462890625;
}

#letter-g {
  animation: outline 0.5s ease forwards 4.5s, filling-letter 0.5s ease-in forwards 5s;
  stroke-dasharray: 339.2660827636719;
  stroke-dashoffset: 339.2660827636719;
}

@keyframes outline {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling-letter {
  from {
    fill: transparent;
  }
  to {
    fill: var(--letter-color);
  }
} 

@keyframes filling-heart {
  from {
    fill: transparent;
  }
  to {
    fill: var(--heart-color);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.97);
  }
  35% {
    transform: scale(0.9);
  }
  45% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(0.9);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
